server {
    listen 2379;

    location / {
        proxy_pass http://etcd_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

upstream etcd_servers {
    {% for host in postgres_etcd_hosts %}
    server {{ host }}:2379;
    {% endfor %}
}